
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(0, 0, 0);
    
}
.container{
   
    background: rebeccapurple;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    
}
.add-list{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
}
.add-list h1 {
    color: rgb(76, 133, 133);
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.task-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(220, 213, 213);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    
}
input:hover{
    font: caption;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    background: rgb(25, 25, 212);
    color: white;
    font-size: 16px;
    cursor: pointer;
    
   
}
button:hover{
    background: rgb(208, 48, 48);
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    width: 100%;
}

ul li span {
    min-height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    
}

